[submodule "rwas/lib/forge-std"]
	path = rwas/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rwas/lib/chainlink-brownie-contracts"]
	path = rwas/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
